@import 'settings';
@import 'utils';

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.rounder-12 {
  border-radius: 12px;
}

.justify-content-center {
  justify-content: center;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

  &__modal {
    right: 16px;
    top: 16px;
  }
}

.bg-white {
  background-color: white;
}


@mixin ellipsis($count) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ellipsis-2 {
  @include ellipsis(2);
}

.gap-10 {
  gap: 10px;
}

.fz-14 {
  font-size: 14px;
}